<h1>Create New Deck</h1>

<div class="container">
  <div class="row">
    <form class="" action="/newDeck" method="post">
      <input name="name" ></input>
      <input id="create-button" class="button" type="submit" value="Create">
    </form>
  </div>
</div>
